
$geenone:#65c907;
$geentwo:#88dd00;
$geenstrong:#68b32c;
$gyellowStrong:#c1f422;
$gyellowSoft:#dddd00;
$gsmood:#bbcc55;
$darkGreen:#555533;
$greenGray:#cccc99;
$gray:#bbbbaa;
$black:#000000;    

$rojo1: rgb(165,0,38);
$rojo2: rgb(215,48,39);
$naranja1: rgb(244,109,67);
$amarillo1: rgb(253,174,97);
$amarillo2: rgb(254,224,139);
$amarilloS1: rgb(255,255,191);    
$verdeS1: rgb(217,239,139);
$verdeS2: rgb(166,217,106);
$verdeS3: rgb(102,189,99);    
$verde1: rgb(26,152,80); 
$verde2: rgb(0,104,55);    
